@charset "utf-8";
/* CSS Document */
body{ width: 100%;height: 100%; font-size:12px; font-family:"微软雅黑";}                   /*全局控制*/
body,form,input,h1,p{padding:0; margin:0; border:0;  color:#fff;}        /*重置浏览器的默认样式*/

body {
  background-image: url("../images/form_bg.jpg"); /* 替换为你的图片路径 */
  background-size: cover; /* 按比例缩放覆盖，超出部分裁剪 */
  background-position: center; /* 居中显示，减少关键内容裁剪 */
  background-repeat: no-repeat; /* 禁止重复 */
  background-attachment: fixed; /* 可选：滚动时背景固定 */
}
form{
	width:600px; 
	height:400px; 
	margin:50px auto;                    /*使表单在浏览器中居中*/
	padding-left:30px;                   /*使边框和内容之间拉开距离*/
	position:absolute;                   /*设置绝对定位*/
	left:48%;
	top:10%;
}
h2{                                       /*控制标题*/
	text-align:center;
	margin:16px 0; 
}
p{margin-top:20px;}
p span{
	width:75px; 
	display:inline-block;                /*将行内元素转换为行内块元素*/
	text-align:right;                     /*居右对齐*/
	padding-right:10px; 
	}
p input{                                    /*设置所有的输入框样式*/
	width:200px; 
	height:18px; 
	border:1px solid #38a1bf;
	padding:2px;                           /*设置输入框与输入内容之间拉开一些距离*/
}
.lucky input{                               /*单独设置幸运颜色输入框样式*/
	width:100px;
	height:24px; 
}
.btn input{                                /*设置两个按钮的宽高、边距及边框样式*/
	width:100px; 
	height:30px;
	background:#fc7885;
	margin-top:20px; 
	margin-left:75px; 
	border-radius:3px;                      /*设置圆角边框*/
	font-size:18px;
	font-family:"微软雅黑";
	color:#fff;
}
input{
	color:black;
}
		








