* {
  list-style: none;
  outline: none;
}

body {
  font-family: "微软雅黑";
  text-align: center;
  background-image: url(../images/laoyan.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


a {
  text-indent: 1em;
  display: inline-block;
  font-size: 22px;
  color: #5e2d00;
}

/* */
a:nth-child(1) {
  text-indent: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #f03;
}

dl {
  display: none;
}

dd {
  line-height: 38px;
  font-size: 22px;
  font-family: "微软雅黑";
  color: #333;
}

dd::before {
  content: url(images1/11.png);
}

dd:nth-child(odd) {
  color: #f07a0c;
}

dd:nth-child(2) em {
  color: #f03;
  font-weight: bold;
  font-style: normal;
}

dd:nth-child(3) em {
  color: #5E2d00;
  font-weight: bold;
  font-style: normal;
}

:target {
  display: block;
}
div{
    display: flex;
    margin-bottom: 60px;
    background: rgba(255, 248, 254, 0.8);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;

  
  
}